body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  font-family: "Georgia", serif;
  color: #444;
  width: 73.076em;
  margin: auto;
  text-align: left;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

h2 {
  font-size: 152%
}

h3, h4 {
  font-size: 122%;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}

a {
  color: #990003
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

li {
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}

body {
}

.paper {
  padding: 10px 80px;
  margin: 0 auto;
  background: #ddd;
  section:after, header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

header {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;

  hgroup {
    float: left;
    margin-left: 0;
    width: 66%;

    h1 {
      font-size: 29px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    h2 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  address {
    width: 32%;
    margin-left: 1.99%;
    float: right;
    color: #333;
    font-size: 122%;
    text-align: right;
  }
}

section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;

  & > h2 {
    width: 12.3%;
    float: left;
    font-style: italic;
  }

  & > div {
    width: 80.2% !important;
    float: right;
  }

  .experience {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;

    h4 {
      position: absolute;
      top: 0;
      right: 0
    }

    p {
      margin: 0.75em 0 2em 0;
      line-height: 22px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: 0;
    }
    .occupation {
      position: relative;
      &:last-child p {
        margin-bottom: 1em;
      }
    }
  }

  .technical, .skill {
    width: 33.3334%;
    float: left;
    p {
      padding-right: 1em;
    }
    h2 {
      margin-bottom: 6px;
    }
    li:last-child {
      border: none;
    }
  }

  .education {
    h3 {
      margin-bottom: 10px;
    }
    &:last-child h3 {
      margin-bottom: 0;
    }
  }

  .profile {
    p {
      font-size: 144%;
      padding-right: 6.5em;
      line-height: 24px;
    }
  }
}